<div class="d-flex">
  <div class="container w-50">
    <% if @events %>
    <div class="row">
      <% @events.each do |event| %>
      <% if event.starts_at > Date.today %>
      <div class="card-chip m-4 col-xl-5 col-lg-10 p-0 text-center">
        <p class="mb-0"><%= cl_image_tag event.photo.key %></p>
        <div class="event-content p-3">
          <h2><%= link_to(event.name, event_path(event)) %></h2>
          <p>Host: <%= link_to(event.user.username, user_path(event.user),target: :_blank) %></p>
          <h5>Cause: <%= event.category %></h5>
          <p>Date: <%= event.starts_at_formatted %></p>
          <p class="mb-0 p-1"><%= event.capacity - event.requests.length %> spots left</p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>


  <div id="map" class="w-50"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

