<div class="d-flex">
  <div class="container w-50">
      <% if @events.length > 0 %>
      <%= simple_form_for :search, url: events_path, method: "GET" do |f| %>
      <div class="d-flex justify-content-center align-items-center form-inline" id="category-form">
        <%= f.input :category, label: "Cause", collection: Event::CATEGORIES %>
          <%= f.hidden_field :query, value: "#{params[:search][:query]}" if params[:search].present? %>
          <%= f.submit "Submit", class: "button-chip-main" %>
      </div>
      <% end %>
    <div class="row">
      <% @events.each do |event| %>
      <% if event.starts_at > Date.today %>
      <div class="m-4 col-xl-5 col-lg-10 p-0 text-center">
        <div class="card-chip h-100">
          <div class="card-chip-image">
            <%= cl_image_tag event.photo.key, class: "mb-0" %>
          </div>
          <div class="event-content p-3">
            <h2 class="font-weight-bold"><%= link_to(event.name, event_path(event)) %></h2>
            <p>Host: <%= link_to(event.user.username, user_path(event.user),target: :_blank) %></p>
            <h5>Cause: <%= event.category %></h5>
            <p>Date: <%= event.starts_at_formatted %> <strong> to </strong><%= event.ends_at_time %></p>
            <p class="mb-0 p-1"><%= event.capacity - event.requests.length %> spots left</p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <% else %>
    <div class="error">
      <p>Sorry, no results found</p>
      <%= link_to("Try Again", root_path, class: "button-chip-secondary") %></p>
    </div>
    <% end %>
  </div>


  <div id="map" class="w-50"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

