
<div class="container">
  <div>
    <div class="">
      <h1><%= @event.name %></h1>
      <hr>
      <h4><%= @event.address %></h4>
    </div>

    <div class="row align-self-center show-content-one">
      <div class="col-lg-4 col-sm-12 py-4">
        <div>
        <%= cl_image_tag @event.photo.key, width: "300px" %>
      </div>
      </div>
      <div class="col-lg-4 col-sm-12 py-4">
        <div>
        <p><strong>From</strong> <%= @event.starts_at_formatted %> <strong>to</strong> <%= @event.ends_at_formatted %></p>
        <p><%= @event.capacity %></p>
        <p><%= @event.description %></p>
        <%= link_to "Request participation", new_event_request_path(@event), class: 'btn btn-primary' %>
      </div>
      </div>
    </div>

  </div>
  <div class="map">
    <!-- ########################################################### -->
  </div>
</div>


