<div class="container new-request py-5">
    
    <div class="new-request">
        <div class="request-text d-flex justify-content-center">
            <h1>Your request for <%= @event.name %></h1>
        </div>
        
        <div class="d-flex justify-content-center">
            <%= simple_form_for [@event, @request] do |f| %>
            <%= f.input :message, :placeholder => "Please enter a message to the event host", :label => false %>
        </div>
        
        <div class="d-flex justify-content-center">
            <%= link_to 'Back to event', events_path(@event), class: "button-chip-secondary form-buttons back-btn" %>
            <%= f.submit 'Submit', class: "button-chip-main form-buttons"%>
            <% end %>
            
        </div>
    </div>
</div>