<div class="container">
  <% if @user.role == "Volunteer"%>

    <div class="future-events">
      <section class="section">
        <div class="container py-5">
          <h1>Upcoming events:</h1>
          <div class="">
            <div class="row h-100 justify-content-center">
              <% if @future_requests.length > 0 %>
                <% @future_requests.each do |request| %>
                <% event = request.event %>
                <div class="col-lg-3 col-sm-12 p-0 m-4">
                  <div class="card-chip">
                  <div class="event-content d-flex flex-column h-100">
                    <div class="card-chip-image">
                      <%= cl_image_tag event.photo.key, class: "mb-0" %>
                    </div>
                    <div class="p-3 d-flex flex-column h-100">
                      <div class="card-chip-title">
                        <h3 class="mb-0"><%= link_to(event.name, event_path(event), class: "event-link") %></h3>
                      </div>
                      <div class="d-flex flex-column justify-content-between h-100">
                        <div class="card-chip-description">
                          <p>Host: <%= link_to(event.user.username, user_path(event.user), class: "user-link", target: :_blank) %></p>
                          <p>Cause: <%= event.category %></p>
                          <p>Date: <%= event.starts_at_formatted %></p>
                        </div>
                        <div class="card-chip-spots">
                          <p class=" text-center <%=if request.status == "pending"
                           "pending-button"
                           elsif request.status == "confirmed"
                            "confirmed-button"
                          elsif request.status =="declined"
                            "declined-button color white"
                          else "cancelled-button"
                            end %>"><%= request.status %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <% else %>
                <p>You have no upcoming events</p>
              <% end %>
            </div>
          </div>
        </div>
      </section>
  </div>

  <hr>

  <div class="past-events">
    <section class="section">
      <div class="container py-5">
        <h1>Past events:</h1>
        <div class="">
          <div class="row justify-content-center">
            <% if @past_requests.length > 0 %>
              <% @past_requests.each do |request| %>
                <% event = request.event %>
              <div class="card-chip m-4 col-xl-3 col-lg-3 p-0 text-center">
                <p class="mb-0"><%= cl_image_tag event.photo.key %></p>
                <div class="event-content p-3">
                  <h2><%= link_to(event.name, event_path(event), class: "event-link") %></h2>
                  <p>Host: <%= link_to(event.user.username, user_path(event.user), class: "user-link") %></p>
                  <%= link_to "Review the host", new_user_review_path(event.user), class: "button-chip-main" %>
                  <!-- <p>Starts at: <%= event.starts_at_formatted %></p>
                  <p>Ends at: <%= event.ends_at_formatted %></p> -->
                </div>
              </div>
              <% end %>
            <% else %>
              <p>You have no upcoming events</p>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>

  <% else %>
    <section class="section">
      <div class= "container py-5">
        <h1>Events:</h1>
        <div class="">
          <div class="row justify-content-center">
            <% if @events %>
              <% @events.each do |event| %>
                <div class="card-chip m-4 col-xl-3 col-lg-3 p-0 text-center">
                  <div class="event-content p-3">
                    <h2><%= link_to(event.name, event_path(event), class: "event-link") %></h2>
                    <p>(FROM <%= event.starts_at_formatted%> TO <%= event.ends_at_formatted%>)</p>
                    <% event.requests.each do |request| %>
                      <p>Request sent by: <%= link_to(request.user.full_name, user_path(request.user), class: "user-link") %> <%= link_to(request.status, edit_event_request_path(request.event_id, request.id))%></p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
