<div class="container">
  <% if @user.role == "Volunteer"%>

    <div class="future-events">
      <section class="section">
        <div class="container py-5">
          <h1>Upcoming events:</h1>
          <div class="">
            <div class="row align-self-center">
              <% if @future_requests %>
                <% @future_requests.each do |request| %>
                  <% event = request.event %>
                <div class="col-lg-4 col-sm-12 py-4">
                  <div class="card">
                    <h2><%= event.name %></h2>
                    <h4>Hosted by: <%= link_to(event.user.username, user_path(event.user)) %></h4>
                    <h5><%= event.description %></h5>
                    <h5>Starts at: <%= event.starts_at_formatted %></h5>
                    <h5>Ends at: <%= event.ends_at_formatted %></h5>
                    <p>Status:<%= request.status %></p>
                    <%= cl_image_tag event.photo.key, width: "300px" %>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </section>  
  </div>
  
  <hr>

  <div class="past-events">
    <section class="section">
      <div class="container py-5">
        <h1>Past events:</h1>
        <div class="">
          <div class="row align-self-center">
            <% if @past_requests %>
              <% @past_requests.each do |request| %>
                <% event = request.event %>
              <div class="col-lg-4 col-sm-12 py-4">
                <div class="card">
                  <h2><%= event.name %></h2>
                  <h4>Hosted by: <%= link_to(event.user.username, user_path(event.user)) %></h4>
                  <h5><%= event.description %></h5>
                  <h5>Starts at: <%= event.starts_at_formatted %></h5>
                  <h5>Ends at: <%= event.ends_at_formatted %></h5>
                  <%= cl_image_tag event.photo.key, width: "300px" %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>  
</div>












  <% else %>

    <h1>Events:</h1>
    <% if @events %>
      <% @events.each do |event| %>
        <h2><%= event.name %></h2>
        <p>(FROM <%= event.starts_at_formatted%> TO <%= event.ends_at_formatted%>)</p>
        <% event.requests.each do |request| %>
          <p>Request sent by: <%= link_to(request.user.full_name, user_path(request.user)) %></p>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
</div>